<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/init_styles.css">
    <link rel="stylesheet" type="text/css" href="js/dojo-release-1.14.2/dojo/resources/dojo.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/tundra/tundra.css">
    <meta charset="UTF-8">
    <title>Budget Tracking</title>
</head>
<body class="tundra">
    
    <div id="mainMenu" data-dojo-type="dijit/MenuBar"></div>
    <p></p>

    <p class="commonBoldTextFormat">Budget Tracking</p>
    
    <!-- load Dojo -->
   <script src="js/dojo-release-1.14.2/dojo/dojo.js"></script>
    
   <script>require(["js/menu.js"], function(applyMenu){});</script>
    
</body>
</html>